body{
    background-image: url("../images/bg-img.png")!important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px !important;
}
  
h1{
    margin-top: 20px !important;
    /*max-width: 300px !important;*/
    font-size: 30px!important;
    padding:10px !important;
    background-color: rgb(226, 121, 72);

}
.instructions{
    color: green !important;
    background-color: bisque;
    /*max-width: 450px;*/
    padding: 10px 10px 20px 10px;
   
}

.container{
    /*max-width: 700px;*/
    margin-left: 10px!important;
}

.random-number{
    float: left !important;
    background-color: green;
    padding: 0px 0px 10px 0px;
    text-align: left; 
}

.win-lose{
    float: right !important;
    background-color: aqua;
    margin-left: 10px;
    padding: 15px 0 15px 0;
}

.rn-wl{
    margin: 10px 10px 10px 15px;

}

#red{
    background-color: white;
}

.crystals{
    width: 60px;
    height: 80px;
}

.total-score-text{
    background-color: rgb(28, 194, 194);
    padding: 10px;
    color: white;
    margin-top: 10px;
}

.total-score{
    background-color: rgb(28, 194, 194);
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-align: left;
}